streamlit==1.58.0
google-generativeai==0.8.6
tavily-python==0.7.26
python-dotenv==1.2.2
PyMuPDF==1.27.2.3
pandas==3.0.3
reportlab==5.0.0
spacy==3.8.14
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
requests==2.34.2